<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <link rel="stylesheet" href="../css/messagesStyle.css">
    <title>My Transactions</title>
</head>
<body>
    {{!-- NAVBARS START --}}
    <div id= "navvisit">
        {{> navvisit}}
    </div>
    <div id = "navadmin">
         {{> navadmin}}
    </div>
    <div id = "navuser">
       {{> navuser}}
    </div>
    {{!-- NAVBARS END --}}


    <div class="container-fluid-nopadding" >

        <div class="card text-center">
            <div class="card-header-center bg-light">
                <h4>Requested Books</h4>
            </div>

            <div class="card-header card-header-tabs bg-light">
                <ul class="nav nav-tabs  bg-light">
                    <li class="nav-item">
                        <a class="nav-link active" href="/adminRequestsList/Collective">Collective</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="/adminRequestsList/Individual">Individual</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link " href="/adminRequestsList/SoonExpiring">Soon Expiring</a>
                    </li>
                </ul>
            </div>
                

            <div class="card-body-orders  overflow-auto vh72"  >
                


                <table class=" table table-bordered table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th >Request Number</th>
                            <th >Book Title</th>
                            <th >Author/s</th>
                            <th >Number of Requests</th>
                            <th >Priority Rating</th>
                            <th> Action </th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">0123456789</th>   
                            <td> Homosapiens vs </td>
                            <td> REbeccah</td>
                            <td>15</td>
                            <td>2.5</td>
                            <td>
                                <a href="/adminRequestsList/Individual/somethingthat-will-lead-to-a-page-with-all-requests-for-that-book" class="btn btn-sm btn-primary" role="button">View</a>
                                {{!-- <button type="button" class="btn btn-sm btn-primary" redirect="/adminRequestsList/Individual">View</button> --}}
                                <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#sendPaymentForm">Fulfill</button>
                            </td>
                        </tr>

                        <h1>note collective  is not working// will remove bc wag na to huhuhuhju
                            mejj redundant rin kasi the users will not input the title/authors exactly the same so di rin sila magsasama sama
                        </h1>
                        
                    </tbody>
                </table>


            </div>
        </div>

    </div>

{{!-- Modal for fulfilment --}}
    <div class="modal fade" id="sendPaymentForm" tabindex="-1" role="dialog" aria-labelledby="sendPaymentFormTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sendPaymentFormTitle">Fulfill Request Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name = "Fulfillment-Form">
                    <div class="form-group row">
                        <label for="Request Number" class="col-sm-5 col-form-label">Request Number</label>
                        <div class="col-sm-7">
                        <input type="text" readonly class="form-control-plaintext" id="FulfillRequestNumber" value="0123456789">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="requester" class="col-sm-5 col-form-label">Requester</label>
                        <div class="col-sm-7">
                        <input type="text" readonly class="form-control-plaintext" id="FulfillReqeuster" value="John Smith">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Book title" class="col-sm-5 col-form-label">Book Title</label>
                        <div class="col-sm-7">
                        <input type="text" readonly class="form-control-plaintext" id="FulfillBookTitle" value="Animal Farm">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Author" class="col-sm-5 col-form-label">Author/s
                        </label>
                        <div class="col-sm-7">
                        <input type="text" readonly class="form-control-plaintext" id="FulfillAuthor" value="George ORwell">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Author" class="col-sm-5 col-form-label">Book Item Reference ID
                        </label>
                        <div class="col-sm-7">
                        <input type="text" class="form-control" id="FulfillBookID" placeholder="">
                        </div>
                    </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger">Send</button>
                </div>
            </div>
        </div>
    </div>
{{!-- END Modal for fulfillment --}}

    





</body>
</html>