<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <title>Cart | Chapter One</title>
</head>
<body>
    {{!-- NAVBARS START --}}
    <div id= "navvisit">
        {{> navvisit}}
    </div>
    <div id = "navadmin">
         {{> navadmin}}
    </div>
    <div id = "navuser">
       {{> navuser}}
    </div>
    {{!-- NAVBARS END --}}
    <div id="requestlist">
    <br>
    <div class="container">
        <div id="signup-row" class="row justify-content-center align-items-center">
            <div id="signup-column" class="col-md-6">
                <div id="signup-box" class="col-md-12 text-center">
                    <h3 class="text-info">Cart</h3>
                    <p class="text-info">No items in the cart.</p>
                    <a class="btn btn-info btn-md" role="button" href="#">Add more books</a>
                    <a class="btn btn-info btn-md" role="button" href="home">Home</a>
                </div>
            </div>
            <div id="signup-column" class="col-md-6 bg-info">
                <div id="signup-box" class="col-md-12 text-center">
                    <h3 class="text-light">Cart Infomation</h3>
                    <!-- <p class="text-light">No items in the cart.</p> -->
                    <a class="btn btn-light btn-md" role="button" href="#">Proceed to Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>