<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <title>Confirm Payment | Chapter One</title>
</head>
<body>
    {{!-- NAVBARS START --}}
    <div id= "navvisit">
        {{> navvisit}}
    </div>
    <div id = "navadmin">
         {{> navadmin}}
    </div>
    <div id = "navuser">
       {{> navuser}}
    </div>
    {{!-- NAVBARS END --}}
    <center><br><h3>Confirm Payment</h3><br></center>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Order Number</th>
          <th scope="col">Customer</th>
          <th scope="col">Address</th>
          <th scope="col">Contact Number</th>
          <th scope="col">Method of Payment</th>
          <th scope="col">Bank Name</th>
          <th scope="col"><center>Reference #</center></th>
          <th scope="col"><center>Confirm/Decline</center></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td>Gabriel Olan</td>
          <td>San Pedro, Laguna</td>
          <td>09175050217</td>
          <td>Bank Transfer</td>
          <td>BPI</td>
          <td></td>
          <td>
            <center>
            <button type="button" class="btn btn-success">Confirm</button>
            <button type="button" class="btn btn-danger">Decline</button>
            </center>
          </td>
        </tr>
        <tr>
          <th>2</th>
          <td>Gabriel Olan</td>
          <td>San Pedro, Laguna</td>
          <td>09175050217</td>
          <td>Bank Transfer</td>
          <td>BDO</td>
          <td></td>
          <td>
            <center>
            <button type="button" class="btn btn-success">Confirm</button>
            <button type="button" class="btn btn-danger">Decline</button>
            </center>
          </td>
        </tr>
        <tr>
          <th>3</th>
          <td>Gabriel Olan</td>
          <td>San Pedro, Laguna</td>
          <td>09175050217</td>
          <td>Bank Transfer</td>
          <td>BDO</td>
          <td></td>
          <td>
            <center>
            <button type="button" class="btn btn-success">Confirm</button>
            <button type="button" class="btn btn-danger">Decline</button>
            </center>
          </td>
        </tr>
      </tbody>
    </table>
    
</body>
</html>