<head>
    {{>head}}
    <title>Error | Chapter One</title>
</head>
<body>
    {{!-- NAVBARS START --}}
    <div id= "navvisit">
        {{> navvisit}}
    </div>
    <div id = "navadmin">
         {{> navadmin}}
    </div>
    <div id = "navuser">
       {{> navuser}}
    </div>
    {{!-- NAVBARS END --}}

    <br><br><br><br>
    <div class="container">
        <h3 class="text-center text-info">Sorry, you are not authorized to view this page.</h3><br>
        <h5 class="text-center text-info">We apologize for the inconvenience. If you believe this is an error, contact us through email.</h5><br><br>
        <div class="col center-block text-center">
            <a href="/home" class="btn btn-primary" style="width:20%; margin: auto">Go to Home</a>
        </div>
    </div>
</body>
