<head>
    {{>head}}
    <title>Generate Sales Report | Chapter One</title>
</head>
<body>
    {{!-- NAVBARS START --}}
    <div id= "navvisit">
        {{> navvisit}}
    </div>
    <div id = "navadmin">
         {{> navadmin}}
    </div>
    <div id = "navuser">
       {{> navuser}}
    </div>
    {{!-- NAVBARS END --}}
    <br>
    <div class="container">
        <h3 class="text-center text-info">Generate Sales Report</h3><br>
        <div style="text-align: center">
            <form id="sales-report" class="form-group" action="" method="post">
                <label>Select Date: </label>
                <div class="form-row" style="margin: 0 30%">
                    <div class="col-md-5 mb-3">
                        <input type="date" class="form-control" id="startingdate" name="startingdate" value="" required>
                    </div>
                    <div class="col"> – </div>
                    <div class="col-md-5 mb-3">
                        <input type="date" class="form-control" id="endingdate" name="endingdate" value="" required>
                    </div>
                </div>
                <div>
                    <input type="submit" name="submit" class="btn btn-info btn-md" value="Submit" formaction="/salesreport">
                </div>
            </form>
        </div>
    </div>
</body>
