<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <title>Home | Chapter One</title>
</head>
<body>
    {{!-- NAVBARS START --}}
    <div id= "navvisit">
        {{> navvisit}}
    </div>
    <div id = "navadmin">
         {{> navadmin}}
    </div>
    <div id = "navuser">
       {{> navuser}}
    </div>
    {{!-- NAVBARS END --}}
    {{> homepage}}
</body>
</html>