<head>
    {{> head}}
    <title>Notifications | Chapter One</title>
</head>
<body>
    {{!-- NAVBARS START --}}
    <div id= "navvisit">
        {{> navvisit}}
    </div>
    <div id = "navadmin">
         {{> navadmin}}
    </div>
    <div id = "navuser">
       {{> navuser}}
    </div>
    {{!-- NAVBARS END --}}   <br><br>

    <div class="col-10  card card-body" style="margin: 0 auto">
        <h5 class="card-title" style="text-align:center; color:#DC3545">Notifications</h5>

        <table class="table table-hover">
            <tr>
                <td style="text-align: right; color:darkgrey">January 15, 2020 8:00am</td>
                <td style="width:60%"> Hello "user"! Sorry for the delay, our team is working hard to find the book you requested! <br>On "date", you requested "title" by "aname". Are you still interested?</td>
                <td><button class="btn btn-outline-success my-2 my-sm-0" style="width:2cm">Yes</button> <button class="btn btn-outline-success my-2 my-sm-0">No</button></td>
            </tr>
            <tr>
                <td style="text-align: right; color:darkgrey">January 1, 2020 8:00am</td>
                <td style="width:60%"> Hello user! Are you still interested with the book you've requested? let us know! thank you oabvodapcnsapnvfapiefq</td>
                <td><button class="btn btn-outline-success my-2 my-sm-0" style="width:2cm">Yes</button> <button class="btn btn-outline-success my-2 my-sm-0">No</button></td>
            </tr>
            <tr>
                <td style="text-align: right;color:darkgrey">December 29, 2019 10:00am</td>
                <td style="width:60%">hello! you made a request yes?</td>
                <td><button class="btn btn-outline-success my-2 my-sm-0" style="width:2cm">Yes</button> <button class="btn btn-outline-success my-2 my-sm-0">No</button></td>
            </tr>
        </table>
    </div>

</body>