<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <title>Home | Chapter One</title>
</head>
<body>
    {{!-- {{> navvisit}} --}}
    {{> navuser}}

    <br><br>

    this is just for easier browsing,, sincne not everything is connected pa.

    <ul class="navbar-nav mr-auto">
      <li> <a href = "home"> HOME </a> </li>
      <li> <a href = "login"> login </a></li>
      <li> <a href = "cart"> cart </a></li>
      <li> <a href = "productpage"> product page </a></li>
      <li> <a href = "productdetailspage"> product details page </a></li>
      <li> <a href = "messages"> messages </a></li>
      <li> <a href = "requestlist"> request list </a></li>
      <li> <a href = "requestbook"> request a book </a></li>
      <li><a href = "signup"> signup</a> </li>
      <li><a href = "login"> login</a> </li>
      <li><a href = "orders"> orders list for user</a> </li>
      
    </ul>
</body>
</html>