<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    <title>My Requests | Chapter One</title>
</head>
<body>
    {{!-- NAVBARS START --}}
    <div id= "navvisit">
        {{> navvisit}}
    </div>
    <div id = "navadmin">
         {{> navadmin}}
    </div>
    <div id = "navuser">
       {{> navuser}}
    </div>
    {{!-- NAVBARS END --}}
<div id="requestlist">
  

  <div class="container-fluid-nopadding" >

        <div class="card text-center">
            {{!-- <div class="card-header-center bg-light">
                <h4>Requested Books</h4>
            </div> --}}
            

            <div class="card-header card-header-tabs bg-light">
                <br>
                {{!-- <h3 class="text-center ">Book Request</h3> --}}
                <ul class="nav nav-tabs  bg-light">
                    <li class="nav-item">
                        <a class="nav-link active" href="/requestlist">Active Requests</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/requestlist/cancelled">Cancelled Requests</a>
                    </li>
                </ul>
            </div>
                

            <div class="card-body-orders  overflow-auto vh80"  >
                <table class=" table table-bordered table-hover ">
                    <thead class="thead-light">
                        <tr>
                            <th >Request Number</th>
                            <th >Requester</th>
                            <th >Book Title</th>
                            <th >Author/s</th>
                            <th> Urgent </th>
                            <th> maxPrice </th>
                            <th >Quantity</th>
                            <th> Description</th>
                            <th>Date Requested</th> 
                            <th >Priority Rating</th>
                            <th> Status</th>
                            <th> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">0123456789</th>   
                            <td> John Smith</td>
                            <td> Lorem ipsum lorea</td>
                            <td>Rebecca Lauren</td>
                            <td>Yes</td>
                            <td>500</td>
                            <td>1</td>
                            <td>desc here</td>
                            <td>January 1 2020 </td> 
                            <td>2.5</td>
                            <td>Active</td>
                            <td><button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#sendPaymentForm">Cancel</button></td>
                        </tr>
                        <tr>
                            <th scope="row">0123456789</th>   
                            <td> John Smith</td>
                            <td> Lorem ipsum lorea</td>
                            <td>Rebecca Lauren</td>
                            <td>Yes</td>
                            <td>500</td>
                            <td>1</td>
                            <td>long long long long long long long long long long desc here</td>
                            <td>January 1 2020 </td> 
                            <td>2.5</td>
                            <td>Soon Expiring???</td>
                            <td><button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#sendPaymentForm">Cancel</button></td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>






</div>
</body>
</html>