<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    <title>My Requests | Chapter One</title>
</head>
<body>
    {{> nav-user}}
<div id="requestlist">
  <br>
  <div class="container">
      <div id="signup-row" class="row justify-content-center align-items-center">
          <div id="signup-column" class="col-md-6">
              <div id="signup-box" class="col-md-12 text-center">
                <h3 class="text-info">Requests Made</h3>
                <p class="text-info">No request has been made.</p>
                <a class="btn btn-info btn-md" role="button" href="index.html">Home</a>
                <!-- <div class="form-group">
                    <input type="button" name="home" class="btn btn-info btn-md" value="Home" formaction="index.html">
                </div> -->
              </div>
          </div>
      </div>
  </div>
</div>
</body>
</html>