<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <link rel="stylesheet" href="../css/messagesStyle.css">
    <title>My Transactions</title>
</head>
<body>
    {{> navuser}}


    <div class="container-fluid-nopadding" >

        <div class="card text-center">
            <div class="card-header-center bg-light">
                <h4>My Orders</h4>
            </div>

            <div class="card-header card-header-tabs bg-light">
                <ul class="nav nav-tabs  bg-light">
                    <li class="nav-item ">
                        <a class="nav-link active" href="/Orders/ToPay">To Pay</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/Orders/PaymentProcessing">Payment Processing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/Orders/Confirmed">Confirmed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/Orders/Cancelled">Cancelled</a>
                    </li>
                </ul>
            </div>
                

            <div class="card-body-orders  overflow-auto vh80"  >
                


                <table class=" table table-bordered  ">
                    <thead class="">
                        <tr>
                            <th >Order Number</th>
                            <th style="min-width: 300px">Order Details</th>
                            <th >Total Amount</th>
                            <th >Status</th>
                            <th >Send Payment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">0123456789</th>   
                            <td>Maasdfasfdgd fffffffffffff ffffffffffff fff ffff ffff fffff ffffffffffff fff ffff fffffff ffffff fff fffff fff fffff ff ffffff fffff ff ffffffffff ffffrk</td>
                            <td>999.50</td>
                            <td>Payment Pending</td>
                            <td> <button type="button" class="btn btn-sm btn-danger">Send Payment</button> </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>250.00</td>
                            <td>Payment Pending</td>
                            <td> <button type="button" class="btn btn-sm btn-danger">Send Payment</button> </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>1499.00</td>
                            <td>Payment Pending</td>
                            <td> <button type="button" class="btn btn-sm btn-danger">Send Payment</button> </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>1499.00</td>
                            <td>Payment Pending</td>
                            <td> <button type="button" class="btn btn-sm btn-danger">Send Payment</button> </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>1499.00</td>
                            <td>Payment Pending</td>
                            <td> <button type="button" class="btn btn-sm btn-danger">Send Payment</button> </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>1499.00</td>
                            <td>Payment Pending</td>
                            <td> <button type="button" class="btn btn-sm btn-danger">Send Payment</button> </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>1499.00</td>
                            <td>Payment Pending</td>
                            <td> <button type="button" class="btn btn-sm btn-danger">Send Payment</button> </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>1499.00</td>
                            <td>Payment Pending</td>
                            <td> <button type="button" class="btn btn-sm btn-danger">Send Payment</button> </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>1499.00</td>
                            <td>Payment Pending</td>
                            <td> <button type="button" class="btn btn-sm btn-danger">Send Payment</button> </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>1499.00</td>
                            <td>Payment Pending</td>
                            <td> <button type="button" class="btn btn-sm btn-danger">Send Payment</button> </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>1499.00</td>
                            <td>Payment Pending</td>
                            <td> <button type="button" class="btn btn-sm btn-danger">Send Payment</button> </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>1499.00</td>
                            <td>Payment Pending</td>
                            <td> <button type="button" class="btn btn-sm btn-danger">Send Payment</button> </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>1499.00</td>
                            <td>Payment Pending</td>
                            <td> <button type="button" class="btn btn-sm btn-danger">Send Payment</button> </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>1499.00</td>
                            <td>Payment Pending</td>
                            <td> <button type="button" class="btn btn-sm btn-danger">Send Payment</button> </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>1499.00</td>
                            <td>Payment Pending</td>
                            <td> <button type="button" class="btn btn-sm btn-danger">Send Payment</button> </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>1499.00</td>
                            <td>Payment Pending</td>
                            <td> <button type="button" class="btn btn-sm btn-danger">Send Payment</button> </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>1499.00</td>
                            <td>Payment Pending</td>
                            <td> <button type="button" class="btn btn-sm btn-danger">Send Payment</button> </td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>

    </div>

    





</body>
</html>